/*Will able to everything as a default*/
body{
background-color: white
}

/*IDs in css begin with a hashtag*/
#area1{
height:300px;
width:500px;
background-color: black
};

#area2{
    height:100px;
    width: 500px;
    background-color: grey
    };
    #V{
        height: 100px;
        width: 500px;
        background-color: blueviolet
        };
        
        #Dante{
            height: 100px;
            width: 500px;
            background-color: rgb(255, 0, 0)
            };
        
            #Trish{
                height: 100px;
                width: 500px;
                background-color: rgb(0, 0, 255)
                };
/*CLASSES in css begin with a dot*/
.Nero{
background-color: blue
}

.Virgil{
    background-color: red
}