/*Will able to everything as a default*/
body{
background-color: white
}

/*IDs in css begin with a hashtag*/
#area1{
height:300px;
width:500px;
background-color: black
}

#area2{
    height:100px;
    width: 900px;
    background-color: grey
    }
    #class1{
        height: 100px;
        width: 70px;
        background-color: blueviolet
        }
        
        #class2{
            height: 100px;
            width: 300px;
            background-color: red
            }
        
            #class3{
                height: 100px;
                width: 200px;
                background-color: blue
                }
/*CLASSES in css begin with a dot*/